* {
    box-sizing: border-box;
    margin: 0;
    /*border: 1px dotted pink;*/
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
}

a:hover {
    color: red;
    cursor: pointer;
}

a:active {
    color: #e60000;
}

.bg-pink {
    background-color: pink;
}

.bold {
    font-weight: 700;
}

.border-none {
    border: none
}

.border-red {
    border: 1px solid red;
}

.break {
    margin-bottom: 1rem;
}

.break-sm {
    margin-bottom: .5rem;
}

.btn {
    border: 1px solid red;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.btn:hover {
    background-color: red;
    cursor: pointer;
}

.btn:active {
    background-color: #e60000;
}

.decoration-none {
    text-decoration: none;
}

.fill-space {
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.font-sans {
    font-family: 'Noto Sans', sans-serif;
}

.font-serif {
    font-family: 'Noto Serif', serif;
}

.font-xs {
    font-size: .5rem;
}

.font-sm {
    font-size: .75rem;
}

.font-md {
    font-size: 1.5rem;
}

.font-lg {
    font-size: 2rem;
}

.font-xl {
    font-size: 2.5rem;
}

.font-xxl {
    font-size: 3rem;
}

.hidden {
    display: none;
}

.hr-red {
    border-bottom: 1px solid red;
    padding-bottom: .5rem;
}

.hr-thick-red {
    border-bottom: 2px solid red;
    padding-bottom: .5rem;
}

input[type=radio] {
    accent-color: red;
}

input[type=text]:focus {
    outline: 1px solid red;
}

.italic {
    font-style: italic;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

#logo {
    height: 8rem;
}

.lowercase {
    text-transform: lowercase;
}

.margin {
    margin: 1rem;
}

.margin-auto {
    margin: auto;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-x {
    margin-left: 1rem;
    margin-right: 1rem;
}

.max-w-xs {
    max-width: 475px;
}

.max-w-sm {
    max-width: 640px;
}

.min-h-screen {
    min-height: 100dvh;
}

.outline-none {
    outline: none;
}

.padding {
    padding: 1rem;
}

.padding-y-sm {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padding-yyx {
    padding: 2rem 1rem;
}

.padding-yyyx {
    padding: 3rem 1rem;
}

.padding-yxx {
    padding: 1rem 2rem;
}

.padding-yyxx {
    padding: 2rem;
}

.relative {
    position: relative;
}

.return-sm {
    margin-top: .5rem
}

#roll-btn {
    border: 1px solid red;
    background-color: red;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

#roll-btn:hover {
    cursor: pointer;
}

#roll-btn:active {
    background-color: #e60000;
}

.space {
    margin-right: 1rem;
}

.space-xs {
    margin-right: .25rem;
}

.space-sm {
    margin-right:.5rem;
}

.svg-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: #979aa4;
}

.svg-btn:hover {
    fill: red;
    cursor: pointer;
}

.svg-btn:active {
    fill: #e60000;
}

.tab-xs {
    margin-left:.25rem
}

.tab-sm {
    margin-left:.5rem
}

.tab {
    margin-left: 1rem;
}

.text-center {
    text-align: center;
}

.text-grey {
    color: #979aa4;
}

.uppercase {
    text-transform: uppercase;
}

.w-forty {
    width: 40%;
}

.w-full {
    width: 100%;
}

.w-third {
    width: 33%;
}

@media only screen and (min-width: 640px) {
    .sm-align-center {
        align-items: center;
    }

    .sm-break-none {
        margin-bottom: 0;
    }

    .sm-flex-row {
        flex-direction: row;
    }

    .sm-justify-center {
        justify-content: center;
    }

    .sm-justify-start {
        justify-content: start;
    }

    .sm-space-md {
        margin-right: .75rem;
    }

    .sm-tab-md {
        margin-left: .75rem;
    }

    .sm-w-unset {
        width: unset;
    }
}