/* Universal Styles */
* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px dotted red;*/
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    margin: .5rem auto;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

button:active {
    background-color: #e60000;
}

.uppercase {
    text-transform: uppercase;
}

/* Banner Styling */
.banner {
    margin: .5rem auto;
}

.logo {
    height: 6rem;
}

.title {
    color: #979AA4;
}

/* Menu Styling*/
.menu {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    width: 12rem;
    border: 1px solid red;
}

/* Randomiser Styling*/
.randomiser {
    margin: .5rem auto;
    min-height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid red;
    padding: 1rem;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
}

#link:hover {
    text-decoration: underline;
}

#link:active {
    color: #979AA4
}

.beast-radio {
    display: flex;
    justify-content: center;
    color: #979AA4;
}

.beast-type {
    padding: 0 1rem;
}

input[type=radio] {
    accent-color: red;
}

@media only screen and (orientation: portrait) {
    .randomiser {
        width: 90%;
    }
}

/* Roll Button Styling */
#roll-btn {
    border: none;
    background-color: red;
}

#roll-btn:active {
    background-color: #e60000;
}